<table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Documento</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Email</th>
        <th scope="col">Nota</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let estudiante of estudiantes">
            <th scope="row">{{estudiante.documento}}</th>
            <td>{{estudiante.nombres}}</td>
            <td>{{estudiante.apellidos}}</td>
            <td>{{estudiante.email}}</td>
            <td>{{estudiante.nota}}</td>
        </tr>        
    </tbody>
</table>
